body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #3f0071;
  font-family: FreeMono, monospace;
}

button:hover {
  cursor: pointer;
}

/* Header */

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.div-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.div-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #2e064e;
  border-radius: 40px;
  border: 3px solid #02021b;
  height: 40px;
  width: 250px;
}

.div-menu ul li:hover {
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #996edd;
  border: 2px solid #655970;
}

.div-menu ul li a {
  font-family: Arial;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #ddd3ed;
}

.div-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-logo p {
  font-weight: 100;
  font-size: 25px;
  color: #f3eeee;
}

#img-logo {
  width: 60px;
  height: 60px;
  background-color: #8c66aa;
  border: 2px solid #5b327c;
  border-radius: 60px;
  padding: 15px;
}

/* Conteúdo principal */

.primeira_secao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.div_bem_vindo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  height: 80px;
  background-color: #7e2ebb;
}

.div_bem_vindo h2 {
  font-size: 20px;
  color: white;
}

/* Grid de músicas */

.grid_jogos {
  display: grid;
  grid-template-columns: repeat(6fr);
  grid-template-rows: repeat(2fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 80%;
}

.jogo_01 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.jogo_02 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.jogo_03 {
  grid-column: 4/6;
  grid-row: 1/2;
}

.jogo_04 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.jogo_05 {
  grid-column: 3/6;
  grid-row: 2/3;
}

.div_jogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: #350f52;
  border: 5px solid rgb(247, 243, 243);
  border-radius: 30px;
}

.div_jogo video {
  width: 300px;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
}

.div_jogo h2 {
  font-family: Impact, fantasy;
  text-align: center;
  font-weight: lighter;
  color: white;
}

.div_jogo p {
  font-family:
    Courier New,
    monospace;
  font-size: 15px;
  text-align: justify;
  color: white;
  width: 70%;
}

.div_jogo div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div_jogo div a {
  background-color: #7cc6fe;
  border: 3px solid #218b8f;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
  text-decoration: none;
  color: #218b8f;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.div_jogo div a:hover {
  background-color: #218b8f;
  color: white;
}



/* Seção estilos de música */

.div_estilos_jogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  background-color: #7e2ebb;
}

.div_estilos_jogo h2 {
  font-size: 30px;
  color: white;
}

.div_estilos_jogo div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.estilo_jogo {
  width: 100px;
  padding: 5px;
  color: white;
  background-color: #7e2ebb;
  border-radius: 20px;
  border: 3px solid #a79db1;
}

/* Lógica carrossel */

.section_imagens {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 400px;
  margin: 40px;
  border: 2px solid #af5af5;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.carrossel_de_imagens {
  overflow: hidden;
  width: 600px;
}

.carrossel_trilho {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel_trilho img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  border-radius: 30px;
}

#anterior,
#proximo {
  cursor: pointer;
  width: 50px;
  transition: transform 0.3s ease-in-out;
}

#anterior:hover,
#proximo:hover {
  transform: scale(1.5);
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  height: 300px;
  background-color: #450d74;
  text-align: center;
}

.div_redes_sociais {
  display: flex;
  gap: 20px;
}

#redeSocial {
  width: 50px;
  text-decoration: none;
}

.div_contatos p {
  font-size: 20px;
  font-family: FreeMono, monospace;
  color: #f5f4f7;
}