.section_jogo {
  width: 100%;
  height: 100vh;
}

.area {
  width: 80%;
  height: 500px;
  border: 2px solid black;
  overflow: hidden;
  padding: 30px;
}

/*Cobrinha */

.div_cobrinha {
  position: relative;
}
.cobrinha {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 60px;
  top: 60px;
  background-color: brown;
}

.novaDiv {
  width: 30px;
  height: 30px;
  background-color: brown;
}

/* Obstáculo */

.bomba01 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 600px;
  top: 40px;
}

/* .bomba02 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 500px;
  top: 100px;
}

.bomba03 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 600px;
  top: 300px;
} */

/* Fruta */

.fruta01 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 200px;
  top: 500px;
}

/* .fruta02 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 800px;
  top: 100px;
}

.fruta03 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 300px;
} */

/* Movimentação cobrinha */

.animation {
  animation: move 2s ease;
}
